
/* #container {
  display:flex;
  flex-direction: column;
} */

.stage {
  width:200px;
  height:200px;
  perspective: 500px;
  margin: 100px auto;
  opacity:0.5;
}

.cube {
  width:100%;
  height:100%;
  position:relative;
  transform-style: preserve-3d;
  font-family: sans-serif;
  color:white;
  text-align: center;
  line-height: 100%;
}

.cube-animate {
  animation:spin 8s linear infinite;
}

/* gotta put the opacity here not in .cube */
.faces {
  width:200px;
  height:200px;
  position:absolute;
  border:1px black solid;
  opacity:0.5;
  font-family: sans-serif;
  color:white;
  text-align: center;
  font-size:2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cube-front {
  background-color: red;
  transform: translateZ(100px);
}

#cube-back {
  background-color: green;
  transform:rotateY(180deg) translateZ(100px);
}

#cube-left {
  background-color: yellow;
  transform:rotateY(-90deg) translateZ(100px);
}

#cube-right {
  background-color: blue;
  transform:rotateY(90deg) translateZ(100px);
}

#cube-top {
  background-color: aqua;
  transform:rotateX(90deg) translateZ(100px);
}

#cube-bottom {
  background-color: orange;
  transform:rotateX(-90deg) translateZ(100px);
}

@keyframes spin {
  from {transform:rotate3d(0,0,0,0);}
  to {transform:rotate3d(0,1,0,360deg);}
}
